.awards {
    background-image: url('../../assets/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    /* keeps bg image still so scrolling feels smooth */
    background-attachment: fixed;
    color: white;
    display: flex;
    height: 100vh;
}
.awards .container {
    height: 100%;
    display: flex;
    align-items: center;
}
.awards__right img {
    width: 100%;
    height: 100%;
}
.awards__left {
    flex: 1;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.awards__right {
    flex: 1;
    border: 1px solid white;
}
.awards__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.award {
    border: 1px solid white;
    display: flex;
    align-items: center;
}
.award div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    height: 100%;
}
.award img {
    height: auto;
}
@media (max-width: 1000px) {
    .awards .container {
        flex-direction: column;
    }
    .awards__grid {
        display: flex;
        flex-direction: column;
    }
}