.contact {
    background-image: url('../../assets/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    /* keeps bg image still so scrolling feels smooth */
    background-attachment: fixed;
    color: white;
    display: flex;
    height: 100vh;
}
.contact .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.contact .container > div {
    flex: 1;
}
.contact__left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.contact__right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact img {
    width: 90%;
}
@media (max-width: 1000px) {
    .contact {
        height: 100%;
    }
    .contact .container {
        flex-direction: column;
        text-align: center;
        gap: 4rem;
    }
    .contact .container button {
        margin: auto;
    }
}