nav {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    z-index: 2;
}
.nav-container {
    flex: 1;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
nav img {
    height: 50px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}
.hidden {
    display: none;
}
.modal-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    z-index: 2;
    transition: top 0.3s ease-in-out;
}
.modal.open {
    top: 0;
}
.modal-close {
    position: absolute;
    top: 40px;
    right: 40px;
}

@media (max-width: 1000px) {
    .nav__middle {
        display: none;
    }
    .hidden {
        display: flex;
    }
}
@media (max-width: 600px) {
    .nav__right {
        display: none;
    }
}