nav {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    z-index: 2;
}
.nav-container {
    flex: 1;
    max-width: 90%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
nav img {
    height: 50px;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}
.hidden {
    display: none;
    color: white;
}
@media (max-width: 1000px) {
    .middle {
        display: none;
    }
    .hidden {
        display: flex;
    }
}
@media (max-width: 600px) {
    .right {
        display: none;
    }
}