.menu {
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
}
.menu h1 {
    font-size: 3rem;
}
.menu .container {
    text-align: center;
    width: 100%;
}
.menu img {
    width: 400px;
}
.menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__left,
.menu__right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
} 
.menu__middle {
    margin: 0 6rem;
}
@media (max-width: 1000px) {
    .menu {
        height: 100%;
        padding: 2rem 0;
    }
    .menu-content {
        flex-direction: column;
    }
    .menu img {
        display: none;
    }
    .menu__left {
        margin: 3rem 0;
    }
    .menu__right {
        margin-bottom: 3rem;
    }
}