@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}
.container {
    max-width: 90%;
    border: 1px solid black;
    margin: auto;
}
.btn {
    width: 200px;
    height: 50px;
}